/* 브라우저 마진과 패딩 리셋 */
* {
    margin:0;padding:0;
}

/* INPUT 가리기 */
.section [id*="slide"] {
    display:none;
}

/* 슬라이드 영역 - max-width 크기를 조절해주면 됩니다*/
.section .slidewrap {
    max-width:1000px;
    margin:0 auto
    ;overflow:hidden;
    position:relative;
}
.section .slidelist {
    white-space:nowrap
    ;font-size:0;
}
.section .slidelist > li {
    display:inline-block;
    vertical-align:middle;width:100%;
    transition:all .5s;
}
.section .slidelist > li > a 
{display:block;
    position:relative;
}

/* 좌우로 넘기는 LABEL버튼에 대한 스타일 */
.section .slide-control {
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    width:100%;
    height:100%;
}
.section .slide-control label {
    position:absolute;
    z-index:1;
    top:50%;
    transform:translateY(-50%);
    padding:50px;
    cursor:pointer;
}
.section .slide-control .left {
    left:30px;
    background:url('./left.png') center center / 100% no-repeat;
}
.section .slide-control .right {
    right:30px;background:url('./right.png') center center / 100% no-repeat;
}
.section .slide-control [class*="control"] {
    display:none;
}

/* INPUT이 체크되면 변화값이 li까지 전달되는 스타일 */
.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {
    transform:translateX(0%);
}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {
    transform:translateX(-100%);
}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {
    transform:translateX(-200%);
}
.section [id="slide04"]:checked ~ .slidewrap .slidelist > li {
    transform:translateX(-300%);
}

/*  INPUT이 체크되면 변화값이 좌우 슬라이드 버튼을 담고 있는 div 까지 전달되는 스타일 */
.section [id="slide01"]:checked ~ .slidewrap .control01 {
    display:block;
}
.section [id="slide02"]:checked ~ .slidewrap .control02 {
    display:block;
}
.section [id="slide03"]:checked ~ .slidewrap .control03 {
    display:block;
}
.section [id="slide04"]:checked ~ .slidewrap .control04 {
    display:block;
}
/* 여기까지슬라이드컨트롤*/

/*여기서부터 지도관련 없으면 자체적으로 스타일매겻음*/
.eventmsg{
    margin-top: 30px;
}
body{
    background-color: black;
}
.eventmsg{
    color: cornsilk;
    font-size: 30px;
    padding-left: 31px;
}
.infowrap{
    padding-bottom:30px;
}
.infotitle{
    background-color:black;
    text-align:center;
    font-weight:bold;
    color:cornsilk;
}
.infoicon{
    padding-top:9px;
}
h2{
    color:cornsilk;
}